<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Member Area</title>
	</head>
	<body>
		<% for (identity of identities) { %>
			<% if (identity.type === 'local')  { %>
				Identity Info:
				<br>
				Name: <%= identity.username %>
				<br>
			<% } else { %>
				Identity Info:
				<br>
				Picture: <img src="<%= identity.picture %>">
				<br>
				Name: <%= identity.name %>
				<br>
				Email: <%= identity.email %>
				<br>
			<% } %>
			<button onclick="location.href='/unlink/<%= identity._id%>'">Unlink</button>
			<br>
			<br>
		<% } %>
		<br />
		<a href="/connect/login">Link Account</a>
		<a href="/logout">Log out</a>
		<br />
		User:
		<br />
		<%= identities %>
	</body>
</html>